<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505714461114-5j7i82hq9uocedefq0oq3llk4f23cp98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505714461114-5j7i82hq9uocedefq0oq3llk4f23cp98</string>
	<key>API_KEY</key>
	<string>AIzaSyDYYqZ76RB33JNOl1Pyqi8ZFauI-GQOPKA</string>
	<key>GCM_SENDER_ID</key>
	<string>505714461114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vht.com.deeplink</string>
	<key>PROJECT_ID</key>
	<string>deeplink-4e441</string>
	<key>STORAGE_BUCKET</key>
	<string>deeplink-4e441.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505714461114:ios:7cf8ba23bb6b774e357583</string>
</dict>
</plist>